<div class="container">
  <div class="row">
    <h1> Angular application</h1>
  </div>
  <div class="row" *ngIf="!showForm">
    click create form from navbar (react application)
  </div>
  {{showForm}}
  <div class="row" *ngIf="showForm">
    <div>
      <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="email" class="form-control" id="exampleInputEmail1" #name placeholder="Full Name">
        <small id="emailHelp" class="form-text text-muted">We'll never share your details with anyone else.</small>
      </div>
      <div class="form-group">
      </div>
      <button type="submit" class="btn btn-primary"
        (click)="returnMessageToReactWhenReceived(name.value);disableForm()">Submit</button>
    </div>
  </div>
  <div class="row">
    <!-- <button class="btn btn-primary">sent to react</button> -->
  </div>
</div>